<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body class="font-monospace">

    <div>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Car Rental</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        @Html.ActionLink("Home", "Index", "Users", null, new { @class = "btn btn-outline-dark ms-3" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Contact Us", "ContactUserIndex", "Contact", null, new { @class = "btn btn-outline-dark ms-3" })
                    </li>
                   
                    <li class="nav-item">
                        <a class=" btn btn-outline-dark ms-3" aria-current="page" href="#AboutUs">About Us</a>
                    </li>

                </ul>
                <div class="d-flex" @*role=""*@>

                    <button type="button" class="btn btn-outline-dark me-lg-2 px-4" data-bs-toggle="modal" data-bs-target="#LoginModal">
                        Login
                    </button>
                    <button type="button" class="btn btn-outline-dark me-lg-2 px-3" data-bs-toggle="modal" data-bs-target="#RegisterModal">
                        Sign Up
                    </button>


        
                </div>
            </div>
        </div>
    </nav>
    </div>








    <div>
        @RenderBody()


    </div>






    <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>
